# Telegram Bot
aiogram>=3.3.0

# Bybit API
pybit>=5.11.0

# Дополнительные зависимости для pybit
requests>=2.22.0
websocket-client==1.5.0
pycryptodome==3.20.0

# OpenAI API
openai>=1.0.0

# Конфигурация
python-dotenv>=1.0.0

# Асинхронность
aiohttp>=3.8.0

# Логирование и утилиты
colorlog>=6.7.0
